body {
    background-color: #80d4ea;
}

#clock {
    height: 50%;
    width: 50%;
    font-family: courier, monospace;
    text-align: center;
    color: white;
    font-size: 3em;
    white-space: nowrap;
}

#day-of-week {
    height: 50%;
    width: 50%;
    font-family: courier, monospace;
    text-align: center;
    color: white;
    font-size: 3em;
    white-space: nowrap;
}

#date-month-year {
    height: 50%;
    width: 50%;
    white-space: nowrap;
    font-family: courier, monospace;
    text-align: center;
    color: white;
    font-size: 3em;
}

#center-down {
    height: 80%;
    width: 80%;
    margin-top: 150px;
    margin-right: 150px;
}
